<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Jimmy's Web Chat</title>
    <meta name="description" content="darkwire.io is the simplest way to chat with encryption online.">
    <link rel="shortcut icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="/vendor/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script nonce="fHPBryMU3z">
      window.username = '{{username}}';
    </script>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">
            <img src="/logo.png">
          </a>
          <span class="room-name-top">
            <p id="roomName" class="room-name"></p>
          </span>
          <span class="participants">
            <span class="glyphicon glyphicon-user"></span>&nbsp;<span id="participants"></span>
          </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="newRoom" href="#" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;創建房間</a></li>
            <li><a href="javascript:void(0)" id="settings-nav"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;設定</a></li>
            <li><a href="javascript:void(0)" id="about-nav"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;關於</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages">
            <li class="log">
              <p>歡迎使用 Jimmy 的加密通訊工具 Powered by Darkwire.io</p>
            </li>
          </ul>
        </div>
        <div class="inputContainer">
          <textarea class="inputMessage" placeholder="訊息"/></textarea>
          <div id="input-icons">
            <span class="glyphicon glyphicon-file" id="send-file"></span>
            <input type="file" name="fileUploader" id="fileInput">
            <span class="glyphicon glyphicon-send" id="send-message-btn" aria-hidden="true"></span>
          </div>
        </div>
      </li>
    </ul>

    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">關於</h4>
            <p><strong>Darkwire 版本:</strong> <span id="appVersion">v{{APP.version}}</span> (<a href="https://github.com/seripap/darkwire.io/releases/tag/v{{APP.version}}" target="_blank">View Release Notes</a>)<br></p>
          </div>
          <div class="modal-body">
            {{>partials/ip}}

            <p class="bold">警告: Darkwire 不能隱藏你的 IP 位址，也不能確認收件人的真實身份。在開始聊天前請確認收件人的身份。</p>
            <p>請保管好聊天室的網址，任何人都可以通過網址加入聊天室。如果你需要更好的保密性，我們建議你使用隨機生成(+創建房間 按鈕)的房間</p>

            <p>使用上有問題？ 發送 Email 到 hello[at]darkwire.io<br>
               找到 Bug 或想要新功能？ <a href="https://github.com/seripap/darkwire.io/issues" target="_blank">在 Github 上提交工單</a>.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">設定</h4>
          </div>
          <div class="modal-body">
            <h6>邀請他人使用此網址來加入房間</h6>
            <p>
              <input type="text" class="form-control share-text" readonly>
            </p>
            <br>
            <h6>聲音</h6>
            <input type="checkbox" name="sound-enabled" class="form-control bs-switch sound-enabled" checked>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default encryption-active" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="first-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">歡迎使用 Jimmy 的加密通訊工具</h4>
          </div>
          <div class="modal-body">
            <h6>此房間的 ID 是 <span id="chatNameModal"></span></h6>
            <p class="bold">這個軟體使用 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Crypto" target="_blank">Crypto Web API</a> 來加密數據，並使用安全的 <a href="https://en.wikipedia.org/wiki/WebSocket" target="_blank">WebSockets</a> 來進行傳輸。<a href="javascript:void(0)" id="about-nav" data-dismiss="modal">免責聲明</a>.</p>
<p><a href="https://github.com/seripap/darkwire.io" target="_blank">我們非常重視您的隱私，您可以在 Github 查看本軟體的原始碼。</a></p>
            <br>
            <h6>邀請他人使用此網址來加入房間</h6>
            <p>
              <input type="text" class="form-control share-text" readonly>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default encryption-active" data-dismiss="modal">了解</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="participants-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Current Participants</h4>
          </div>
          <div class="modal-body">
            <ul class="users"></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="no-crypto" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Browser Not Supported</h4>
          </div>
          <div class="modal-body">
            <p>Your browser does not support the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Crypto" target="_blank">Crypto Web API</a>.</p>
            <p>Try using the lastest version of Chrome, Firefox or Safari.</p>
          </div>
        </div>
      </div>
    </div>

    <script src="/vendor/jquery-1.10.2.min.js"></script>
    {{!-- socket.io automatically servers the client lib from the server at this path --}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/favicon.js"></script>
    <script src="/vendor/bootstrap-3.3.6.min.js"></script>
    <script src="/vendor/autolinker.min.js"></script>
    <script src="/vendor/modernizr-custom.min.js"></script>
    <script src="/vendor/bootstrap-switch.min.js"></script>
    <script src="/vendor/web-crypto-shim.js"></script>
    <script src="/vendor/fastclick-1.0.6.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
