{{#APP.ip}}
<p class="bold">你的公共 IP: <a href="http://ipinfo.io/{{APP.ip}}/json" target="_blank">{{APP.ip}}</a>*</p>
<p>*這是你的公共 IP 位址，如果你需要隱藏 IP 位址，我們推薦你使用 <a href="https://www.torproject.org/" target="_blank">TOR</a> 或其他代理伺服器。</p>
{{/APP.ip}}
